body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: grid;
  place-items: center;
  background: radial-gradient(
    ellipse at center,
    rgba(214, 214, 214, 1) 0%,
    rgba(203, 203, 203, 1) 23%,
    rgba(193, 193, 193, 0.82) 42%,
    rgba(170, 170, 170, 0.72) 53%,
    rgba(142, 142, 142, 0.59) 67%,
    rgba(142, 142, 142, 0.57) 69%
  );
}
.grid {
  height: 800px;
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(173, 181, 184);
  box-shadow: 0px 4px 21px -2px rgba(0, 0, 0, 0.91);
  cursor: default;
}
.grid div {
  height: 34px;
  width: 34px;
  border: 3px outset rgb(211, 216, 216);
  display: grid;
  place-items: center;
  font-family: monospace;
  font-size: 24px;
  font-weight: 900;
}

.bomb {
  background-color: orange;
}

div .checked {
  background-color: rgb(154, 161, 163);
  border: 3px inset rgb(184, 189, 189);
}
